@model P_Art.Models.Credential
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<h2>Login</h2>
@using (@Html.BeginForm("Authorize","Home",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
    </div>
    <div>
        <label class="field-validation-error">@Html.DisplayFor(model => model.Loginerrormessage) </label>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}
<div style="color:black;line-height:25px">
    Don't have an Account ?
    <br />
    <a href="~/UserInformations/Create" style="color:brown">SignUp Here</a>
</div>