@model P_Art.Models.Bid

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Bid</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.BidID)

        <div class="form-group">
            @Html.LabelFor(model => model.ArtID, "ArtID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArtID", String.Empty)
                @Html.ValidationMessageFor(model => model.ArtID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtCollectorID, "ArtCollectorID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArtCollectorID", String.Empty)
                @Html.ValidationMessageFor(model => model.ArtCollectorID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bidamount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bidamount)
                @Html.ValidationMessageFor(model => model.Bidamount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAllocated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAllocated)
                @Html.ValidationMessageFor(model => model.IsAllocated)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
