@model IEnumerable<P_Art.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Index</h2>
<body style="background-color:silver">
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)


            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |*@
                    @Html.ActionLink("Details", "Detailscat1", new { id = item.CategoryID }) 
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })*@
                </td>
            </tr>
        }

    </table>
</body>